.players {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Light', sans-serif;
    text-align: center;

}

.card {
    width: 350px;
    margin: 24px auto;
    position: relative;
    border: 1px solid #cbcbcb;
    border-radius: 20px;

}

.players li {
    display: inline-block;
    margin: 10px 15px;
}

.top {
    padding: 16px;
    display: flex;
    justify-content: end;
    background-color: #F5F5F5;
    border-radius: 20px 20px 0 0;
    min-height: 150px;
}

.share-button-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.picture {
    position: absolute;
    width: 148px;
    height: 148px;
    border: 4px solid #616161;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 20px);
}

.picture img {
    height: 100%;
    border-radius: 50%;
    border: 4px solid white;
}

.share-button-wrapper i {
    color: #757575;
    cursor: pointer;
}

.bottom {
    padding: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
}

.title-wrapper {
    text-align: center;
}

.name {
    font-size: 14px;
    font-weight: bold;
}

.age {
    font-size: 14px;
}

.height {
    font-size: 14px;
}

.loading-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-weight: bolder;
}

.loading-bar {
    border: 10px solid #EEEEEE;
    border-top: 10px solid #fa5500;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    animation: spin 1.4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card .buttonUpdate {
    float: right;
    background-color: #F5F5F5;
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    margin-right: 250px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.card .buttonDelete {
    float: right;
    background-color: #F5F5F5;
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-right: 250px;
    border-radius: 8px;
}

.search-button {
    width: 300px;
    display: inline-block;
    margin: 25px;
    margin-bottom: 0;
    padding: 4px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: black;
    font-size: medium;
    text-align: center;
}

.message {
    margin: 220px;
    font-size: 25px;
    color: black;
    animation: fadeIn 0.5s ease-in-out;
    background-color: #F5F5F5;
    border: 1px none white;
    border-width: 20px;
    border-radius: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}