.addTable {
    width: 500px;
    height: 320px;
    margin: 24px auto;
    padding: 30px 40px;
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    background-color: #F5F5F5;
    text-align: center;
    font-weight: bold;

}

.add {
    justify-content: space-between;
    margin-bottom: 5px;
}

 .buttonAdd {
    padding: 10px 40px;
    margin: 10px;
}