.header a {
    color: black;
    padding: 14px 16px;
    text-decoration: double;
    font-size: 16px;
}

.header a:hover {
    color: white;
    font-weight: bold;
    text-decoration: overline;
}

.header a:active {
    color: white;
    font-weight: bold;
}

.header {
    position: sticky;
    top: 0;
    z-index: 99;
}

.active{
    color: white;
    font-weight: bold;
    text-decoration: overline;
}