.loading-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-weight: bolder;
}

.loading-bar {
    border: 10px solid #EEEEEE;
    border-top: 10px solid #fa5500;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card .buttonUpdate {
    float: right;
    background-color: #F5F5F5;
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    margin-right: 250px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.card .buttonDelete {
    float: right;
    background-color: #F5F5F5;
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-right: 250px;
    border-radius: 8px;
}